@font-face {
  font-family: "LEMON MILK-RegularItalic";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-RegularItalic.otf") ;
}
@font-face {
  font-family: "LEMON MILK-MediumItalic";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-MediumItalic.otf") ;
}
@font-face {
  font-family: "LEMON MILK-BoldItalic";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-BoldItalic.otf") ;
}
@font-face {
  font-family: "LEMON MILK-Regular";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-Regular.otf") ;
}
@font-face {
  font-family: "LEMON MILK-Medium";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-Medium.otf") ;
}
@font-face {
  font-family: "LEMON MILK-Bold";
  src: url("http://localhost:3000//font/lemon_milk/LEMONMILK-Bold.otf") ;
}